# --- 依存パッケージ -------------------------
node_modules/

# --- Hardhat -------------
artifacts/
cache/


# --- ビルド成果物 ---------------------------
dist/
build/


# --- 環境変数 ------------------------------
.env
.env.*

# --- macOSやエディタのゴミ -----------------
.DS_Store
.vscode/
