# --- 依存パッケージ -------------------------
node_modules/

# --- Hardhat / Foundry の生成物 -------------
artifacts/
cache/


# --- ビルド成果物 ---------------------------
dist/
build/


# --- 環境変数 ------------------------------
.env
.env.*

# --- macOS やエディタのゴミ -----------------
.DS_Store
.vscode/